<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global/general.css" />
    <title>Document</title>
</head>
<body>
    <%- include("../includes/header.ejs") %>
    <h1 class="headings">PATIENT HISTORY</h1>
    <main>
        <div class="buttons">
            <div class="search">
                <input type="text" id="searchInput" placeholder="Search..." aria-label="Search" />
                <img src="../icon/search.svg" alt="Search Icon" />
            </div>
        </div>
        <div class="table-container">
            <div id="loadingSpinner" style="display:none;">Loading...</div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Address</th>
                        <th>Medical Records</th>
                        <th>More information</th>
                    </tr>
                </thead>
                <tbody id="patientsTableBody">
                    <% if (getPatientList && getPatientList.length > 0) { %>
                      <% getPatientList.forEach(list => { %>
                        <tr>
                          <td><%= list.first_name %> <%= list.middle_name %> <%= list.last_name %> <%= list.suffix %></td>
                          <td><%= list.age %></td>
                          <td><%= list.gender %></td>
                          <td><%= list.house_no %> <%= list.street %> <%= list.barangay %> <%= list.town %> <%= list.province %></td>
                          <td>
                            <select name="medicalRecords" id="medicalRecords" aria-label="Medical Records">
                              <option value="">bla</option>
                              <option value="">bla</option>
                              <option value="">bla</option>
                              <option value="">bla</option>
                              <option value="">bla</option>
                              <option value="">bla</option>
                            </select>
                          </td>
                          <td>
                              <img src="../icon/mata_ine.svg" alt="More Information Icon" />
                          </td>
                        </tr>
                     <% }) %>
                   <% } else { %> 
                    <tr>
                      <td colspan="6">No list of patients</td>
                    </tr>
                    <% } %>
                  </tbody>
            </table>
            <div>
                <% if (currentPage > 1) { %>
                  <a href="?page=<%= currentPage - 1 %>&limit=<%= limit %>">Previous</a>
                <% } %>
                <% if (currentPage < totalPages) { %>
                  <a href="?page=<%= currentPage + 1 %>&limit=<%= limit %>">Next</a>
                <% } %>
              </div> 
        </div>
    </main>
    <script src="../../js/local/doctor-dashboard/patient-api.js"></script>
</body>
</html>