<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/png" href=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/global/general.css" />
    <link rel="stylesheet" href="../css/local/beneficiary-records.css" />
    <title>PHARMACY|RECORDS</title>
  </head>
  <body>
    <%- include("../includes/header.ejs")  %>
    <h1 class="headings">BENEFICIARY RECORDS</h1>
    <main>
      <div class="buttons">
        <div class="search">
          <input type="text" placeholder="Search..." />
          <img src="../icon/search.svg" alt="" />
        </div>
        <div class="add-transfer">
          <button>DISPENSE</button>
          <button>ADD BENEFICIARY</button>
        </div>
      </div>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>NAME</th>
              <th>GENDER</th>
              <th>ADDRESS</th>
              <th>CONTACT NO.</th>
              <th>AGE</th>
              <th>NOTE</th>
              <th>SENIOR CITIZEN</th>
              <th>PWD</th>
            </tr>
          </thead>
          <tbody>
            <% if (getBeneficiaryList && getBeneficiaryList.length > 0) { %>
              <% getBeneficiaryList.forEach(list => { %>
                <tr>
                  <td><%= list.first_name %> <%= list.middle_name %> <%= list.last_name %></td>
                  <td><%= list.gender %></td>
                  <td><%= list.street %> <%= list.barangay %> <%= list.city %> <%= list.province %></td>
                  <td><%= list.phone %></td>
                  <td><%= list.age %></td>
                  <td><%= list.note %></td>
                  <td><%= list.senior_citizen %></td>
                  <td><%= list.pwd %></td>
                </tr>
             <% }) %>
           <% } else { %> 
            <tr>
              <td colspan="8">No list of beneficiary</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
