<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Pharmacy Records Management">
    <meta name="keywords" content="Pharmacy, Records, Management">
    <link rel="shortcut icon" type="image/png" href=""/>
    <link rel="stylesheet" href="../css/global/general.css" />
    <link rel="stylesheet" href="../css/local/beneficiary-records.css" />
    <title>PHARMACY|RECORDS</title>
  </head>
  <body>
    <%- include("../includes/header.ejs")  %>
    <%- include("../includes/pharmacy-sub-head.ejs")  %>
    <main>
      <div class="buttons">
        <div class="search">
          <input type="text" id="searchInput" placeholder="Search..." aria-label="Search" />
          <img src="../icon/search.svg" alt="" />
        </div>
        <div class="add-transfer">
          <button id="dispense" onclick="popUp_button(this)" aria-label="Dispense Medicine">DISPENSE</button>
          <button>ADD BENEFICIARY</button>
        </div>
      </div>
      <div class="table-container">
        <div id="loadingSpinner" style="display:none;">Loading...</div>
        <table>
          <thead>
              <tr>
                  <th>NAME</th>
                  <th>GENDER</th>
                  <th>ADDRESS</th>
                  <th>CONTACT NO.</th>
                  <th>AGE</th>
                  <th>NOTE</th>
                  <th>SENIOR CITIZEN</th>
                  <th>PWD</th>
                  <th></th>
              </tr>
          </thead>
          <tbody id="beneficiaryTableBody"></tbody>
      </table>
      <nav aria-label="Page navigation" id="paginationNav">
          <% if (currentPage > 1) { %>
          <a href="?page=<%= currentPage - 1 %>&limit=<%= limit %>" aria-label="Previous Page">Previous</a>
          <% } %>
          <% if (currentPage < totalPages) { %>
          <a href="?page=<%= currentPage + 1 %>&limit=<%= limit %>" aria-label="Next Page">Next</a>
          <% } %>
      </nav>        
      </div>
    </main>
    <div class="pop-up" id="dispense-med">
      <div class="close-container">
        <img src="../icon/close.svg" alt="" class="close_popUp">
      </div>
      <h1 class="heading">DISPENSE MEDICINE</h1>
      <main>
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>TRANSACTION NO.</th>
                <th>PRODUCT NAME</th>
                <th>ISSUED QUANTITY</th>
                <th>ISSUED DATE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>11111</td>
                <td>Kim Boog</td>
                <td>Guti</td>
                <td>Delay</td>
              </tr>
            </tbody>
          </table>
        </div>
        <form action="" class="dispense-med" method="POST">
          <div>
            <div>
              <div class="input-with-label">
                <label>Beneficiary Name</label>
                <input type="text" name="beneficiary_name" required>
              </div>
              <div class="input-with-label">
                <label>Physician</label>
                <input type="text" name="physician" required>
              </div>
              <div class="input-with-label">
                <label>Diagnosis</label>
                <input type="text" name="diagnosis" required>
              </div>
            </div>
            <div>
              <div class="input-with-label">
                <label>Requesting Party</label>
                <input type="text" name="requesting_party" required>
              </div>
              <div class="input-with-label">
                <label>Affiliation</label>
                <input type="text" name="relationship" required>
              </div>
            </div>
          </div>
          <div>
            <button type="button" class="button-bordered" id="reject_dispense_button" onclick="popUp_button(this)">REJECT</button>
            <button type="button" class="button-green" id="submit_dispense_button" onclick="popUp_button(this)">SUBMIT</button>
          </div>
          <div class="pop-up-confirm" id="reject_dispense">
            <div>
              <div class="reject-heading">
                <img src="../icon/warning.svg" alt="">
                <h2>Rejecting a dispense request will automatically delete from the list</h2>
              </div>
              <main>
                <h2>Are sure you want to reject this dispense request?</h2>
                <div>
                  <button type="button" class="button-bordered close_confirm">No</button>
                  <button type="submit" class="button-bordered">Yes</button>
                </div>
              </main>
            </div>
          </div>
          <div class="pop-up-confirm" id="submit_dispense">
            <div>
              <h2>Do you want to dispense medicine?</h2>
              <main>
                <button type="button" class="button-bordered close_confirm">No</button>
                <button type="submit" class="button-green">Yes</button>
              </main>
            </div>
          </div>
        </form>
      </main>
    </div>
    <div class="pop-up" id="add-beneficiary" style="display: none !important;">
      <div class="close-container">
        <img src="../icon/close.svg" alt="" class="close_popUp">
      </div>
      <h1 class="heading">ADD BENEFICIARY</h1>
      <main>
        <form action="" class="dispense-med" method="POST">
          <div>
            <div class="row">
              <div class="input-with-label" id="surubadan">
                <label>Last Name</label>
                <input type="text" aria-label="Last Name" required>
              </div>
              <div class="input-with-label">
                <label>First Name</label>
                <input type="text" aria-label="First Name" required>
              </div>
              <div class="input-with-label">
                <label>Middle Name</label>
                <input type="text" aria-label="Middle Name" required>
              </div>
            </div>
            <div class="row">
              <div class="input-with-label" id="masubad">
                <label>Gender</label>
                <input type="text" aria-label="Gender" required>
              </div>
              <div class="input-with-label">
                <label>Birthdate</label>
                <input type="date" aria-label="Birthdate" required>
              </div>
              <div class="input-with-label">
                <label>Processed Date</label>
                <input type="date" aria-label="Processed Date" required>
              </div>
            </div>
            <div class="row">
              <div class="input-with-label">
                <label>Phone No.</label>
                <input type="text" aria-label="Phone No." required>
              </div>
              <div class="input-with-label">
                <label>Occupation</label>
                <input type="text" aria-label="Occupation" required>
              </div>
              <div class="row1">
                <div class="input-with-label">
                  <label>Senior</label>
                  <select name="" id="" aria-label="Senior">
                    <option value="">Yes</option>
                    <option value="">No</option>
                  </select>
                </div>
                <div class="input-with-label">
                  <label>PWD</label>
                  <select name="" id="" aria-label="PWD">
                    <option value="">Yes</option>
                    <option value="">No</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <label>Address</label>
              <div>
                <input type="text" placeholder="Street" aria-label="Street">
                <input type="text" placeholder="Barangay" aria-label="Barangay">
                <input type="text" placeholder="City" aria-label="City">
                <input type="text" placeholder="Province" aria-label="Province">
              </div>
            </div>
            <div class="row">
              <div class="input-with-label">
                <label for="">Note</label>
                <textarea name="" id="" cols="30" rows="10" aria-label="Note"></textarea>
              </div>
              <div class="input-with-label">
                <label for="">Select an image</label>
                <input type="file" aria-label="Select an image">
              </div>
            </div>
          </div>
          <button type="button" class="button-green" id="submit_dispense_button" onclick="popUp_button(this)">SUBMIT</button>
          <div class="pop-up-confirm" id="reject_dispense">
            <div>
              <div class="reject-heading">
                <img src="../icon/warning.svg" alt="">
                <h2>Rejecting a dispense request will automatically delete from the list</h2>
              </div>
              <main>
                <h2>Are sure you want to reject this dispense request?</h2>
                <div>
                  <button type="button" class="button-bordered close_confirm">No</button>
                  <button type="submit" class="button-bordered">Yes</button>
                </div>
              </main>
            </div>
          </div>
          <div class="pop-up-confirm" id="submit_dispense">
            <div>
              <h2>Do you want to dispense medicine?</h2>
              <main>
                <button type="button" class="button-bordered close_confirm">No</button>
                <button type="submit" class="button-green">Yes</button>
              </main>
            </div>
          </div>
        </form>
      </main>
    </div>
    <script src="../../js/local/beneficiary/beneficiary-api.js"></script>
    <script src="../../js/global/pop-up.js"></script>
    <script>
      const container = document.getElementById("surubadan");
      const masubad = document.getElementById("masubad");
      const containerWidth = parseFloat(window.getComputedStyle(container).width);
      const newWidth = containerWidth - 107.33;
      masubad.style.width = newWidth + "px";
    </script>
  </body>
</html>