<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
    rel="shortcut icon"
    type="image/png"
    href=""
  />
    <title>PHARMACY|Inventory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/global/general.css" />
    <link rel="stylesheet" href="../css/local/pharmacy-inventory.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("../includes/header.ejs")  %>
    <div class="sub-head">
      <div class="nav1 selected">
          <h2>INVENTORY</h2>
      </div>
      <div class="nav2">
          <h2>RECORDS</h2>
      </div>
  </div>
    <main>
      <div class="buttons">
        <div class="search">
          <input type="text" id="searchInput" placeholder="Search..." />
          <img src="../icon/search.svg" alt="" />
        </div>
        <div class="add-transfer">
          <button>RESTOCK</button>
          <button>TRANSFER</button>
          <button>ADD MEDICINE</button>
        </div>
      </div>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>PRODUCT ID</th>
              <th>PRODUCT CODE</th>
              <th>PRODUCT NAME</th>
              <th>BRAND NAME</th>
              <th>SUPPLIER</th>
              <th>DOSAGE FORM</th>
              <th>DOSAGE</th>
              <th>REORDER LEVEL</th>
              <th>BATCH NUMBER</th>
              <th>QUANTITY</th>
              <th>EXPIRATION DATE</th>
            </tr>
          </thead>
          <tbody id="inventoryTableBody">
            <div id="loadingSpinner" style="display:none;">Loading...</div>
            <% if (getInventoryList && getInventoryList.length > 0) { %>
              <% getInventoryList.forEach(list => { %>
                <tr>
                  <td><%= list.product_id %></td>
                  <td><%= list.product_code %></td>
                  <td><%= list.product_name %></td>
                  <td><%= list.brand_name %></td>
                  <td><%= list.supplier %></td>
                  <td><%= list.dosage_form %></td>
                  <td><%= list.dosage %></td>
                  <td><%= list.reorder_level %></td>
                  <td><%= list.batch_number %></td>
                  <td><%= list.product_quantity %></td>
                  <td><%= list.expiration %></td>
                </tr>
             <% }) %>
           <% } else { %> 
            <tr>
              <td colspan="11">No list of Medicine</td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <div>
          <% if (currentPage > 1) { %>
            <a href="?page=<%= currentPage - 1 %>&limit=<%= limit %>">Previous</a>
          <% } %>
          <% if (currentPage < totalPages) { %>
            <a href="?page=<%= currentPage + 1 %>&limit=<%= limit %>">Next</a>
          <% } %>
        </div>
      </div>
      <div class="download-CSV">
        <button>DOWNLOAD CSV</button>
      </div>
    </main>
    <script src="../../js/local/search-medicine.js"></script>
  </body>
</html>
