<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/png" href=""/>
    <title>PHARMACY|Inventory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/global/general.css" />
    <link rel="stylesheet" href="../css/local/pharmacy-inventory.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("../includes/header.ejs")  %>
    <%- include("../includes/pharmacy-sub-head.ejs")  %>
    <main>
      <div class="buttons">
        <div class="search">
          <input type="text" id="searchInput" placeholder="Search..." />
          <img src="../icon/search.svg" alt="" />
        </div>
        <div class="add-transfer">
          <button id="restock" onclick="popUp_button(this)">RESTOCK</button>
          <button id="transfer" onclick="popUp_button(this)">TRANSFER</button>
          <button id="add" onclick="popUp_button(this)">ADD MEDICINE</button>
        </div>
      </div>
      <div class="table-container" id="inventoryTable">
        <table>
          <thead>
            <tr>
              <th>PRODUCT ID</th>
              <th>PRODUCT CODE</th>
              <th>PRODUCT NAME</th>
              <th>BRAND NAME</th>
              <th>SUPPLIER</th>
              <th>DOSAGE FORM</th>
              <th>DOSAGE</th>
              <th>REORDER LEVEL</th>
              <th>BATCH NUMBER</th>
              <th>QUANTITY</th>
              <th>EXPIRATION DATE</th>
            </tr>
          </thead>
          <tbody id="inventoryTableBody">
            <div id="loadingSpinner" style="display:none;">Loading...</div>
            <% if (getInventoryList && getInventoryList.length > 0) { %>
              <% getInventoryList.forEach(list => { %>
                <tr>
                  <td><%= list.product_id %></td>
                  <td><%= list.product_code %></td>
                  <td><%= list.product_name %></td>
                  <td><%= list.brand_name %></td>
                  <td><%= list.supplier %></td>
                  <td><%= list.dosage_form %></td>
                  <td><%= list.dosage %></td>
                  <td><%= list.reorder_level %></td>
                  <td><%= list.batch_number %></td>
                  <td><%= list.product_quantity %></td>
                  <td><%= list.expiration %></td>
                </tr>
             <% }) %>
           <% } else { %> 
            <tr>
              <td colspan="11">No list of Medicine</td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <div>
          <% if (currentPage > 1) { %>
            <a href="?page=<%= currentPage - 1 %>&limit=<%= limit %>">Previous</a>
          <% } %>
          <% if (currentPage < totalPages) { %>
            <a href="?page=<%= currentPage + 1 %>&limit=<%= limit %>">Next</a>
          <% } %>
        </div>
      </div>
      <div class="download-CSV">
        <button id="downloadbtn">Download CSV</button>
      </div>
    </main>
    <div class="pop-up hidden" id="transfer-med">
      <div>
        <img src="../icon/close.svg" alt="" class="close_popUp">
      </div>
      <h1 class="heading">TRANSFER MEDICINE</h1>
      <main>
        <form action="" class="restock-transfer">
          <div>
            <label for="rhu">Select an RHU</label>
            <select name="" id="rhu">
              <option value="">Main</option>
              <option value="">Maypangdan</option>
            </select>
          </div>
          <div>
            <label for="product_id">Product ID</label>
            <input type="text" placeholder="PRD0001" id="product_id">
          </div>
          <div>
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity">
          </div>
          <button type="submit" class="button-green">SUBMIT</button>
        </form>
      </main>
    </div>
    <div class="pop-up hidden" id="restock-med">
      <div>
        <img src="../icon/close.svg" alt=""class="close_popUp" >
      </div>
      <h1 class="heading">RESTOCK MEDICINE</h1>
      <main>
        <form action="/pharmacy-inventory/restock-medicine" class="restock-transfer" method="PUT">
          <div>
            <label for="batch_number">Batch no</label>
            <input type="text" placeholder="BATCH0001" id="batch_number">
          </div>
          <div>
            <label for="product_id">Product ID</label>
            <input type="text" placeholder="PRD0001" id="product_id">
          </div>
          <div>
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity">
          </div>
          <button type="submit" class="button-green">SUBMIT</button>
        </form>
      </main>
    </div>
    <div class="pop-up hidden" id="add-med">
      <div>
        <img src="../icon/close.svg" alt="" class="close_popUp">
      </div>
      <h1 class="heading">ADD MEDICINE</h1>
      <main>
        <form action="/pharmacy-inventory/add-medicine" class="add-med-form" method="POST">
          <div>
            <div class="col">
              <div class="input-w8-label">
                <label>Product ID</label>
                <input type="text" name="product_id">
              </div>
              <div class="input-w8-label">
                <label>Product Code</label>
                <input type="text" name="product_code">
              </div>
              <div class="input-w8-label">
                <label>Product Name</label>
                <input type="text" name="product_name">
              </div>
              <div class="input-w8-label">
                <label>Brand Name</label>
                <input type="text" name="brand_name">
              </div>
              <div class="input-w8-label">
                <label>Supplier</label>
                <input type="text" name="supplier">
              </div>
              <div class="input-w8-label">
                <label>Added Quantity</label>
                <input type="number" name="product_quantity">
              </div>
            </div>
            <div class="col">
              <div class="input-w8-label">
                <label>Dosage Form</label>
                <input type="text" name="dosage_form">
              </div>
              <div class="input-w8-label">
                <label>Dosage</label>
                <input type="text" name="dosage">
              </div>
              <div class="input-w8-label">
                <label>Reorder Level</label>
                <input type="text" name="reorder_level">
              </div>
              <div class="input-w8-label">
                <label>Batch Number</label>
                <input type="text" name="batch_number">
              </div>
              <div class="input-w8-label">
                <label>Expiration Date</label>
                <input type="date" name="expiration">
              </div>
              <div class="input-w8-label">
                <label>Date Added</label>
                <input type="date" name="date_added" id="current-date" readonly>
              </div>
            </div>
          </div>
          <button type="submit" class="button-green">SUBMIT</button>
        </form>
      </main>
    </div>
    <script src="../../js/local/search-medicine.js"></script>
    <script src="../../js/local/download-csv.js"></script>
    <script src="../../js/global/client-side-functions.js"></script>
  </body>
  <script>
    const restock = document.getElementById("restock-med");
    const transfer = document.getElementById("transfer-med");
    const add = document.getElementById("add-med");
    function popUp_button(button) {
      var buttonId = button.id;
      if (buttonId === "restock"){
        restock.classList.toggle("visible");
      } else if (buttonId === "transfer"){
        transfer.classList.toggle("visible");
      } else if (buttonId === "add"){
        add.classList.toggle("visible");
      }
    }

    document.querySelectorAll(".close_popUp").forEach(function(closeBtn) {
      closeBtn.addEventListener("click", function() {
        var pop_up = closeBtn.closest(".pop-up"); 
        if (pop_up) {
          pop_up.classList.remove("visible"); 
        }
      });
    });

    document.addEventListener("DOMContentLoaded", function() {
      var nav1 = document.querySelector(".nav1");
      if (nav1) {
        nav1.classList.toggle("selected");
      }
    });
  </script>
</html>
