<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/global/general.css" />
  <link rel="stylesheet" href="../css/local/pharmacy-dispense.css" />
  <title>HealthSync</title>
  <link rel="shortcut icon" type="image/png" href="../img/global/healthvector.png" />
</head>

<body>
  <%- include("../includes/header.ejs") %>
    <%- include("../includes/pharmacy-sub-head.ejs") %>
      <main>
        <div class="search">
          <input type="text" id="searchInput" placeholder="Search..." />
          <img src="../icon/search.svg" alt="" />
        </div>
        <div class="table-container" id="">
          <div id="loadingSpinner" style="display: none">Loading...</div>
          <table>
            <thead>
              <tr>
                <th>NAME</th>
                <th>GENDER</th>
                <th>ADDRESS</th>
                <th>RECIEVER</th>
                <th>RELATIONSHIP</th>
              </tr>
            </thead>
            <tbody id="dispenseTableBody"></tbody>
          </table>
          <nav aria-label="Page navigation" id="paginationNav">
            <% if (currentPage> 1) { %>
              <a href="?page=<%= currentPage - 1 %>&limit=<%= limit %>" aria-label="Previous Page">Previous</a>
              <% } %>
                <% if (currentPage < totalPages) { %>
                  <a href="?page=<%= currentPage + 1 %>&limit=<%= limit %>" aria-label="Next Page">Next</a>
                  <% } %>
          </nav>
          <div>
          </div>
        </div>
      </main>
      <div class="pop-up" id="dispense-med">
        <div class="close-container">
          <img src="../icon/close.svg" alt="" class="close_popUp">
        </div>
        <h1 class="heading">DISPENSE MEDICINE</h1>
        <main>
          <form action="/pharmacy-records/update" class="dispense-med" method="POST">                  
            <!-------------------FORM HIT PAG DISPENSE-------------------------->
        
            <div>
                <div>
                    <div class="input-with-label">
                        <label>Name:</label>
                        <input type="text" name="beneficiary_name" id="dispense_name" required readonly>
                    </div>
                </div>
                <div class="wan">
                    <div class="input-with-label">
                        <label>Doctor:</label>
                        <input type="text" name="doctor" id="dispense_doctor" required readonly>
                    </div>
                    <div class="input-with-label">
                        <label>Diagnosis:</label>
                        <input type="text" name="diagnosis" id="dispense_diagnosis" required readonly>
                    </div>
                </div>
                <div class="too">
                    <div class="input-with-label">
                        <label>Receiver:</label>
                        <input type="text" name="receiver_name" id="dispense_receiver" required readonly>
                    </div>
                    <div class="input-with-label">
                        <label>Relationship:</label>
                        <input type="text" name="relationship_beneficiary" id="dispense_relationship" required readonly>
                    </div>
                </div>
            </div>
            
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>TRANSACTION NO.</th>
                            <th>PRODUCT NAME</th>
                            <th>ISSUED QUANTITY</th>
                            <th>ISSUED DATE</th>
                        </tr>
                    </thead>
                    <tbody id="medicineTableBody"></tbody>
                </table>
            </div>
            
            <div class="button-container">
                <button type="button" class="button-bordered" id="reject_dispense_button" onclick="popUp_button(this)">REJECT</button>
                <button type="button" class="button-green" id="submit_dispense_button" onclick="popUp_button(this)">SUBMIT</button>
            </div>
            
            <div class="pop-up-confirm" id="reject_dispense">
                <div>
                    <div class="reject-heading">
                        <img src="../icon/warning.svg" alt="">
                        <h2>Rejecting a dispense request will automatically delete from the list</h2>
                    </div>
                    <main>
                        <h2>Are you sure you want to reject this dispense request?</h2>
                        <div>
                            <button type="button" class="button-bordered close_confirm">No</button>
                            <button type="submit" class="button-bordered">Yes</button>
                        </div>
                    </main>
                </div>
            </div>
            
            <div class="pop-up-confirm" id="submit_dispense">
                <div>
                    <h2>Do you want to dispense medicine?</h2>
                    <main>
                        <button type="button" class="button-bordered close_confirm">No</button>
                        <button type="submit" class="button-green">Yes</button>
                    </main>
                </div>
            </div>
        </form>        
        </main>
      </div>
</body>
<script src="../js/local/dispenseList/dispense-list-api.js"></script>
<script src="../js/global/pop-up.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var nav3 = document.querySelector(".nav3");
    if (nav3) {
      nav3.classList.toggle("selected");
    }
  });
  document.getElementById("logo").addEventListener('click', function () {
    window.location.href = "/pharmacy-inventory";
  })
</script>

</html>